.sidebar {
    width: 240px;
    margin-left: -240px;
    min-height: 100vh;
    transition: all 0.25s ease-out;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-right: 1px solid var(--container-color-lighter);
}
.sidebar:not(.sidebar__collapse) {
    margin-left: 0;
}
.nav__section {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    padding: 10px 20px 3px;
}
.nav__user {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.nav__avatar {
    width: 36px;
    height: 36px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
    margin: auto;
}
.nav__userInfo {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}
.nav__profileName {
    font-size: var(--small-font-size);
    margin-bottom: 0;
    line-height: 1.3;
}
.nav__profileEmail {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    line-height: 1.3;
}
.nav__logo {
    padding: 15px 20px;
    font-size: var(--h3-font-size);
    align-items: center;
    display: flex;
}
.nav__logoMini {
    padding: 15px 20px;
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    display: none;
}
.nav__logo img,
.nav__logoMini img {
    height: 25px;
    width: auto;
}
.nav__logoMini img {
    display: block;
    margin: auto;
}
.nav__item {
    position: relative;
}
.nav__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--normal-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: 0.1s color;
    padding: 5px 20px;
    position: relative;
    background: none;
    border: none;
    width: 100%;
    cursor: pointer;
}
.nav__link:hover,
.nav__link.active {
    color: var(--primary-color);
    background: var(--container-color-lighter);
}
.nav__icon {
    margin: 0 10px 0 0;
    font-size: 1.2rem;
}
.nav__list {
    margin-bottom: 20px;
}
.nav__list .nav__list {
    margin-left: 28px;
    margin-bottom: 5px;
    overflow: hidden;
}
.nav__list .nav__list .nav__link {
    font-weight: var(--font-regular);
}
.nav__arrow {
    margin-left: auto;
}
.nav__arrow:before {
    content: '\eb6d';
    font-family: unicons-line;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    font-variant: normal;
    text-transform: none;
    transition: 0.2s;
}
.nav__link:not(.collapsed) .nav__arrow:before {
    transform: rotate(90deg);
}
.action-toggle:not(.collapsed) .action-toggle-arrow:before {
    transform: rotate(90deg);
}
.nav__footer {
    margin-top: auto;
    padding: 0 20px 20px;
}

@media screen and (min-width: 768px) {
    .sidebar {
        margin-left: 0;
        width: auto;
    }

    .sidebar__collapse .nav__logo,
    .sidebar__collapse .nav__user-info,
    .sidebar__collapse .nav__section,
    .sidebar__collapse .nav__text,
    .sidebar__collapse .nav__copyright {
        display: none;
    }
    .sidebar__collapse .nav__icon {
        margin: 0 auto;
    }
    .sidebar__collapse .nav__arrow {
        position: absolute;
        right: 10px;
    }
    .sidebar__collapse .nav__logoMini {
        display: block;
    }
    .sidebar.sidebar__collapse {
        width: 78px;
    }

    .sidebar__collapse .nav__item > .nav__list:not(.collapsed) {
        display: none;
    }
    .sidebar__collapse .nav__item:hover > .nav__list {
        display: block;
        position: absolute;
        left: 40px;
        top: 0;
        border-radius: 5px;
        background: var(--container-color);
        box-shadow: 0 -1px 4px var(--color-shadow);
        z-index: 100;
    }
    .sidebar__collapse .nav__item:hover > .nav__list .nav__text,
    .sidebar__collapse .nav__link:not(.collapsed) ~ .nav__list .nav__text {
        display: inline-block;
    }
    .sidebar__collapse .nav__item:hover > .nav__list .nav__icon,
    .sidebar__collapse .nav__link:not(.collapsed) ~ .nav__list .nav__icon {
        margin: 0 10px 0 0;
    }
}
