@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /* Change base color */
  --hue-color: 225;
  --hue-color-secondary: 340;

  /* HSL color mode */
  --primary-color: hsl(var(--hue-color), 69%, 61%);
  --primary-color-alt: hsl(var(--hue-color), 57%, 53%);
  --primary-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --secondary-color: hsl(var(--hue-color-secondary), 69%, 61%);
  --secondary-color-alt: hsl(var(--hue-color-secondary), 70%, 55%);
  --secondary-color-lighter: hsl(var(--hue-color-secondary), 92%, 85%);
  --error-color: #d54f4f;
  --success-color: #5cb85c;
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 70%);
  --text-color-lighter: hsl(var(--hue-color), 8%, 85%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --input-color-darker: hsl(var(--hue-color), 70%, 90%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --container-color-light: hsl(var(--hue-color), 5%, 90%);
  --container-color-lighter: hsl(var(--hue-color), 8%, 95%);
  --color-shadow: #5779e033;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .9rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Size ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --size-0-25: .25rem;
  --size-0-5: .5rem;
  --size-0-75: .75rem;
  --size-1: 1rem;
  --size-1-5: 1.5rem;
  --size-2: 2rem;
  --size-2-5: 2.5rem;
  --size-3: 3rem;
  --size-4: 4rem;
  --size-5: 5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --text-color-light: hsl(var(--hue-color), 8%, 40%);
  --text-color-lighter: hsl(var(--hue-color), 8%, 30%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --input-color-darker: hsl(var(--hue-color), 30%, 25%);
  --body-color: hsl(var(--hue-color), 28%, 12%);
  --container-color: hsl(var(--hue-color), 29%, 16%);
  --container-color-lighter: hsl(var(--hue-color), 30%, 9%);
}

body.dark-theme .project__container::before {
  opacity: 0.05;
}

body.dark-theme .social-link{
  color: var(--title-color);
}


/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--primary-color-alt);
}
a:hover {
  color: var(--primary-color);
}
img {
  max-width: 100%;
  height: auto;
}
fieldset {
  border: none;
}

/*==================== REUSABLE CLASSES ====================*/
.section {
  padding: 2rem 0 4rem;
}
.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}
.section__subtitle {
  display: block;
  color: var(--primary-color);
  font-size: var(--small-font-size);
  margin-bottom: var(--size-3);
  letter-spacing: 1px;
}
.section__title,
.section__subtitle {
  text-align: center;
}
.button--flex {
  display: inline-flex;
  align-items: center;
}
.button {
  display: inline-flex;
  justify-content: center;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.65rem 1rem;
  border-radius: 0.4rem;
  font-weight: var(--font-medium);
  border: none;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  transition: 0.2s;
}
.button:disabled,
.button.disabled,
fieldset:disabled .button {
  background-color: var(--primary-color-lighter);
  pointer-events: none;
  cursor: none;
}
.button:hover {
  background-color: var(--primary-color-alt);
  color: #fff;
}
.button--white {
  background-color: #fff;
  color: var(--primary-color);
}
.button--white:hover {
  background-color: var(--primary-color-lighter);
}
.button--white:disabled,
.button--white.disabled {
  background-color: #f1f1f1;
  color: var(--primary-color-lighter);
}
.color-primary {
  color: var(--primary-color);
}
.weight-medium {
  font-weight: var(--font-medium);
}
.weight-semibold {
  font-weight: var(--font-semi-bold);
}
.alert {
  font-size: var(--small-font-size);
  padding: 10px 15px;
  border-radius: 3px;
  background: var(--primary-color);
  color: var(--container-color);
  margin-bottom: var(--size-0-5);
}
.alert-error {
  background: var(--error-color);
}
.alert-success {
  background: var(--success-color);
}
.col-2-3 {
  grid-template-columns: 2fr 3fr;
}
.col-3-2 {
  grid-template-columns: 3fr 2fr;
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.col-5 {
  grid-template-columns: repeat(5, 1fr);
}
.col-6 {
  grid-template-columns: repeat(6, 1fr);
}
.mb-1 {
  margin-bottom: var(--size-1) !important;
}
.mb-2 {
  margin-bottom: var(--size-2) !important;
}
.mb-3 {
  margin-bottom: var(--size-3) !important;
}
.mt-0-5 {
  margin-top: var(--size-0-5) !important;
}
.mt-1 {
  margin-top: var(--size-1) !important;
}
.mt-2 {
  margin-top: var(--size-2) !important;
}
.mt-3 {
  margin-top: var(--size-3) !important;
}
.mr-0-5 {
  margin-right: var(--size-0-5) !important;
}
.mr-1 {
  margin-right: var(--size-1) !important;
}
.mr-2 {
  margin-right: var(--size-2) !important;
}
.mr-3 {
  margin-right: var(--size-3) !important;
}
.ml-1 {
  margin-left: var(--size-1) !important;
}
.ml-2 {
  margin-left: var(--size-2) !important;
}
.ml-3 {
  margin-left: var(--size-3) !important;
}
.pr-1 {
  padding-right: var(--size-1) !important;
}
.pr-2 {
  padding-right: var(--size-2) !important;
}
.pr-3 {
  padding-right: var(--size-3) !important;
}
.pl-1 {
  padding-left: var(--size-1) !important;
}
.pl-2 {
  padding-left: var(--size-2) !important;
}
.pl-3 {
  padding-left: var(--size-3) !important;
}
.display-flex {
  display: flex;
}
.display-block {
  display: block;
}
.display-inline-block {
  display: inline-block;
}
.align-item-center {
  align-items: center;
}
.width-full {
  width: 100%;
}
.text-small {
  font-size: var(--small-font-size);
}
.text-smaller {
  font-size: var(--smaller-font-size);
}
.text-fade {
  color: var(--text-color-light);
}
.text-washout {
  color: var(--text-color-lighter);
}
.text-error {
  color: var(--error-color);
}
.gap-1 {
  gap: var(--size-1) !important;
}
.gap-2 {
  gap: var(--size-2) !important;;
}
.gap-3 {
  gap: var(--size-3) !important;;
}
.gap-4 {
  gap: var(--size-4) !important;;
}
.gap-5 {
  gap: var(--size-5) !important;;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--size-1-5);
  margin-right: var(--size-1-5);
}
.grid {
  display: grid;
  gap: var(--size-2);
}

@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--size-1);
    margin-right: var(--size-1);
  }
}

@media screen and (min-width: 568px){
  .col-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .col-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  body {
    margin: 0;
  }

  .section {
    padding: 6rem 0 2rem;
  }

  .col-lg-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-lg-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .col-lg-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .col-lg-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .col-lg-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}
