.showcase__item:hover .showcase__title {
    color: var(--primary-color);
}
.showcase__image {
    width: 100%;
    height: 270px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}
.showcase__title {
    line-height: 1.5rem;
    margin-bottom: 5px;
    font-size: var(--h3-font-size);
    color: var(--title-color);
    transition: 0.2s;
}
.showcase__description {
    color: var(--text-color);
}
